<h2><a href="http://github.com/onsi/gomega">Gomega</a></h2>

<ul class="nav">
    <li>
        <a href="#getting_gomega">Getting Gomega</a>
    </li>
    <li>
        <a href="#using_gomega_with_ginkgo">Using Gomega With Ginkgo</a>
    </li>
    <li>
        <a href="#making_assertions">Making Assertions</a>
        <ul class="nav">
            <li>
                <a href="#annotating_assertions">Annotating Assertions</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#making_asynchronous_assertions">Making Asynchronous Assertions</a>
    </li>
    <li>
        <a href="#provided_matchers">Provided Matchers</a>
        <ul class="nav">
            <li>
                <a href="#equalexpected_interface">`Equal(...)`</a>
            </li>
            <li>
                <a href="#benil">`BeNil()`</a>
            </li>
            <li>
                <a href="#bezero">`BeZero()`</a>
            </li>
            <li>
                <a href="#betrue">`BeTrue()`</a>
            </li>
            <li>
                <a href="#befalse">`BeFalse()`</a>
            </li>
            <li>
                <a href="#haveoccured">`HaveOccured()`</a>
            </li>
            <li>
                <a href="#beempty">`BeEmpty()`</a>
            </li>
            <li>
                <a href="#havelencount_int">`HaveLen(...)`</a>
            </li>
            <li>
                <a href="#containsubstringsubstr_string_args_interface">`ContainSubstring(...)`</a>
            </li>
            <li>
                <a href="#matchregexpregexp_string_args_interface">`MatchRegexp(...)`</a>
            </li>
            <li>
                <a href="#containelementelement_interface">`ContainElement(...)`</a>
            </li>
            <li>
                <a href="#havekeykey_interface">`HaveKey(...)`</a>
            </li>
            <li>
                <a href="#benumericallycomparator_string_compareto_interface">`BeNumerically(...)`</a>
            </li>
            <li>
                <a href="#panic">`Panic()`</a>
            </li>
        </ul>    
    </li>
    <li>
        <a href="#adding_your_own_matchers">Custom Matchers</a>
        <ul class="nav">
            <li>
                <a href="#a_custom_matcher_representjsonifiedobjectexpected_interface">An Example</a>
            </li>
            <li>
                <a href="#contibuting_to_gomega">Contributing to Gomega</a>
            </li>
        </ul>
    </li>
</ul>