<h2>
<a href="http://github.com/onsi/gomega">
    <img src="images/gomega_small.png" class="img-responsive header_logo">
</a>
</h2>

<ul class="nav">
    <li>
        <a href="#getting_gomega">Getting Gomega</a>
    </li>
    <li>
        <a href="#using_gomega_with_ginkgo">Using Gomega With Ginkgo</a>
    </li>
    <li>
        <a href="#using_gomega_with_golangs_xunitstyle_tests">Using Gomega with XUnit Tests</a>
    </li>
    <li>
        <a href="#making_assertions">Making Assertions</a>
        <ul class="nav">
            <li>
                <a href="#handling_errors">Handling Errors</a>
            </li>
            <li>
                <a href="#annotating_assertions">Annotating Assertions</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#making_asynchronous_assertions">Making Asynchronous Assertions</a>
        <ul class="nav">
            <li>
                <a href="#eventually"><code>Eventually</code></a>
            </li>
            <li>
                <a href="#consistently"><code>Consistently</code></a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#making_assertions_in_helper_functions">Making Assertions in Helper Functions</a>
    </li>
    <li>
        <a href="#provided_matchers">Provided Matchers</a>
        <ul class="nav">
            <li>
                <a href="#equalexpected_interface"><code>Equal(...)</code></a>
            </li>
            <li>
                <a href="#beequivalenttoexpected_interface"><code>BeEquivalentTo(...)</code></a>
            </li>
            <li>
                <a href="#benil"><code>BeNil()</code></a>
            </li>
            <li>
                <a href="#bezero"><code>BeZero()</code></a>
            </li>
            <li>
                <a href="#betrue"><code>BeTrue()</code></a>
            </li>
            <li>
                <a href="#befalse"><code>BeFalse()</code></a>
            </li>
            <li>
                <a href="#haveoccurred"><code>HaveOccurred()</code></a>
            </li>
            <li>
                <a href="#matcherrorexpected_interface"><code>MatchError(...)</code></a>
            </li>
            <li>
                <a href="#beclosed"><code>BeClosed()</code></a>
            </li>            
            <li>
                <a href="#receive"><code>Receive()</code></a>
            </li>            
            <li>
                <a href="#beempty"><code>BeEmpty()</code></a>
            </li>
            <li>
                <a href="#havelencount_int"><code>HaveLen(...)</code></a>
            </li>
            <li>
                <a href="#containsubstringsubstr_string_args_interface"><code>ContainSubstring(...)</code></a>
            </li>
            <li>
                <a href="#matchregexpregexp_string_args_interface"><code>MatchRegexp(...)</code></a>
            </li>
               <li>
                <a href="#matchjsonjson_interface"><code>MatchJSON(...)</code></a>
            </li>
            <li>
                <a href="#containelementelement_interface"><code>ContainElement(...)</code></a>
            </li>
            <li>
                <a href="#havekeykey_interface"><code>HaveKey(...)</code></a>
            </li>
            <li>
                <a href="#benumericallycomparator_string_compareto_interface"><code>BeNumerically(...)</code></a>
            </li>
            <li>
                <a href="#beassignabletotypeofexpected_interface"><code>BeAssignableToTypeOf(...)</code></a>
            </li>
            <li>
                <a href="#panic"><code>Panic()</code></a>
            </li>
        </ul>    
    </li>
    <li>
        <a href="#adding_your_own_matchers">Custom Matchers</a>
        <ul class="nav">
            <li>
                <a href="#a_custom_matcher_representjsonifiedobjectexpected_interface">An Example</a>
            </li>
            <li>
                <a href="#contibuting_to_gomega">Contributing to Gomega</a>
            </li>
        </ul>
    </li>
</ul>
