name: test

on: [push, pull_request]

jobs:
  mod:
    runs-on: ubuntu-latest
    name: Check modules
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    - uses: actions/checkout@v3
    - run: go mod tidy && git diff --exit-code go.mod go.sum
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '1.17', '1.18', '1.19' ]
    name: Go ${{ matrix.version }}
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.version }}
    - uses: actions/checkout@v3
    - run: go vet ./...
    - run: mv ./tools ./tools.go
    - run: go get github.com/onsi/ginkgo/v2/ginkgo
    - run: go run github.com/onsi/ginkgo/v2/ginkgo -r --randomize-all --randomize-suites --race --trace --fail-on-pending --keep-going
